<?xml version="1.0"?>
<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2022 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Tigren_GroupCatalogRule::rule" title="Tigren Catalog" module="Tigren_GroupCatalogRule"
             sortOrder="1000"
             resource="Tigren_GroupCatalogRule::rule"/>
        <add id="Tigren_GroupCatalogRule::manager_rule" title="Manager Rule" module="Tigren_GroupCatalogRule"
             sortOrder="10"
             parent="Tigren_GroupCatalogRule::rule" action="tigren_groupcatalogrule/customer/index"
             resource="Tigren_GroupCatalogRule::manager_rule"/>
    </menu>
    <!--            product with rule-->
    <menu>
        <add id="Tigren_GroupCatalogRule::product" title="Product with rule" module="Tigren_GroupCatalogRule"
             sortOrder="51"
             resource="Tigren_GroupCatalogRule::product"/>
        <add id="Tigren_GroupCatalogRule::manager_product" title="Manage Products" module="Tigren_GroupCatalogRule"
             sortOrder="10"
             action="tigren_groupcatalogrule/customer/product" resource="Tigren_GroupCatalogRule::manager_product"
             parent="Tigren_GroupCatalogRule::product"/>

    </menu>
</config>
