<?xml version="1.0"?>
<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2022 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <!--<resource id="Magento_Backend::content">-->
                <resource id="Tigren_GroupCatalogRule::customer_head" title="Jobs" sortOrder="100">
                    <resource id="Tigren_GroupCatalogRule::customer" title="Customer" sortOrder="10">
                        <resource id="Tigren_GroupCatalogRule::customer_save" title="Save Customer" sortOrder="10"/>
                        <resource id="Tigren_GroupCatalogRule::customer_delete" title="Delete Customer" sortOrder="20"/>
                    </resource>

                </resource>
                <!--</resource>-->
            </resource>
        </resources>
    </acl>
</config>
