<?xml version="1.0"?>
<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2022 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">


    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Amasty\Groupcat\Api\Data\RuleInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">tigren_customer</item>
                    <item name="identifierField" xsi:type="string">rule_id</item>
                </item>
            </argument>
        </arguments>
    </type>

    <!-- Simulate our class Maxime\Jobs\Model\ResourceModel\Grid\Department\Collection -->
    <virtualType name="Tigren\GroupCatalogRule\Model\ResourceModel\Customer\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">tigren_customer_group_catalog_rule</argument>
            <argument name="resourceModel" xsi:type="string">Tigren\GroupCatalogRule\Model\ResourceModel\Customer
            </argument>
        </arguments>
    </virtualType>
    <!--       hide price ìf no login-->
    <preference for="Magento\Catalog\Pricing\Render\FinalPriceBox"
                type="Tigren\GroupCatalogRule\Pricing\Render\FinalPriceBox"/>
    <preference for="Magento\ConfigurableProduct\Pricing\Render\FinalPriceBox"
                type="Tigren\GroupCatalogRule\Pricing\Render\FinalPriceBox"/>
    <!--    add to cart hide no login-->
    <type name="Magento\Catalog\Model\Product">
        <plugin name="Hidecartbutton" type="Tigren\GroupCatalogRule\Plugin\Cart_Hide\HideCartButton" sortOrder="1"
                disabled="false"/>
    </type>
</config>


